/** =====================================================
 *	General
 *
 *	White:			#c6c6c6
 *	Yellow:			#ffcc00
 *	Light yellow:	#ffffcc
 */

body {
	background-image: url(../img/bgr-body.png);
	color: #c6c6c6;
}

a {
	color: #ffcc00;
	-webkit-transition:color 100ms ease-in;
	-moz-transition:color 100ms ease-in;
	-o-transition:color 100ms ease-in;
	transition:color 100ms ease-in;
}

a:hover {
	color: #ffffcc;
	text-decoration: none;
}


/** =====================================================
 *	Bootstrap customization
 */

.well, 
.breadcrumb, 
input,
input[type="file"],
select,
textarea, 
.progress, 
pre {
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
}

input:focus, textarea:focus {
  border-color: rgba(255, 204, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 0, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.breadcrumb {
	border: 0;
}

.breadcrumb li {
	text-shadow: 0 1px 0 #000;
}

.page-header {
	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	border-bottom: 1px solid #121212;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

h6 {
	color: #999;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
	background-color: #222222;
	border-color: #2f2f2f #2f2f2f transparent #2f2f2f;
}

.nav > .dropdown.active > a:hover {
	color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
	border-top-color: #fff;
}

.nav-tabs {
	border-bottom: 1px solid #666;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background-color: #2f2f2f;
	color: #fff;
	border-color: #666 #666 transparent #666;
}

.nav-tabs > li > a:hover {
	border-color: #2f2f2f #2f2f2f #666666 #2f2f2f;
	background-color: #222222;
	color: #00aaff;
}

.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
	border-color: #666;
}

.nav-pills > li > a:hover {
	background-color: #222222;
	color: #00aaff;
}

.nav-list > li > a,
.nav-list .nav-header {
	text-shadow: 0 1px 0 #000;
}

.nav-list > li > a:hover {
	background-color: #161616;
	color: #00aaff;
}

.nav-list .active > a:hover {
	background-color: #0088cc;
	color: white;
}

.tabs-below .nav-tabs {
	border-top: 1px solid #666;
}

.tabs-left .nav-tabs {
	border-right: 1px solid #666;
}

.tabs-right .nav-tabs {
	border-left: 1px solid #666;
}

.tabs-below .nav-tabs > li > a:hover {
	border-top: 1px solid #666;
}

.tabs-left .nav-tabs > li > a:hover {
	border-color: transparent #666 transparent transparent;
}

.tabs-right .nav-tabs > li > a:hover {
	border-color: transparent transparent transparent #666;
}

.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
	border-color: transparent #666 #666 #666;
}

.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
	border-color: #666 transparent #666 #666;
}

.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
	border-color: #666 #666 #666 transparent;
}

:-moz-placeholder {
	color: #666666;
}

::-webkit-input-placeholder {
	color: #666666;
}

.input-prepend .add-on,
.input-append .add-on {
	background: #444;
	color: #c6c6c6;
	border-color: #111;
	text-shadow: 0 1px 0	black;
}

label {
	color: #c6c6c6;
}

input,
input[type="file"],
select,
textarea {
	color: white;
	border-color: #111111;
}

.search-query {
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0) 0 1px 7px 0px inset;
}

legend {
	color: white;
	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	border-bottom: 1px solid #121212;
}

.form-actions {
	border-top-color: #222;
	background-color: #444;
}

.help-inline {
	color: #999;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
	color: #faa732;
}

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
	color: #faa732;
	border-color: #faa732;
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
	border-color: #faa732;
	-moz-box-shadow: 0 0 6px #faa732;
	-webkit-box-shadow: 0 0 6px #faa732;
	-o-box-shadow: 0 0 6px #faa732;
	box-shadow: 0 0 6px #faa732;
}

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
	color: #5bb75b;
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
	color: #5bb75b;
	border-color: #5bb75b;
}

.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
	border-color: #5bb75b;
	-moz-box-shadow: 0 0 6px #5bb75b;
	-webkit-box-shadow: 0 0 6px #5bb75b;
	-o-box-shadow: 0 0 6px #5bb75b;
	box-shadow: 0 0 6px #5bb75b;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
	color: #fc5b5e;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
	color: #fc5b5e;
	border-color: #fc5b5e;
}

.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
	border-color: #fc5b5e;
	-moz-box-shadow: 0 0 6px #fc5b5e;
	-webkit-box-shadow: 0 0 6px #fc5b5e;
	-o-box-shadow: 0 0 6px #fc5b5e;
	box-shadow: 0 0 6px #fc5b5e;
}

.table thead {
	color: white;
}

.table td {
	border-top-color: #666;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
	background-color: #444;
}

.table-bordered {
	border: 1px solid #666;
}

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
	border-left: 1px solid #666;
}

.pagination a:hover {
	color: #00aaff;
	background-color: #222222;
}

.pagination .active a {
	color: #fff;
	background-color: #222222;
}

.pagination a {
	border-color: #666;
}

.pager a {
	background-color: #2f2f2f;
	border-color: #666;
}

.pager a:hover {
	background-color: #222222;
	color: #00aaff;
}

.alert {
	color: #fff;
	background-color: #faa732;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-color: #a86404;
}

.alert h4 {
	color: #c17305;
}

.alert-success {
	color: #fff;
	background-color: #5bb75b;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-color: #2d662d;
}

.alert-success h4 {
	color: #347834;
}

.alert-error {
	color: #fff;
	background-color: #fc5b5e;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-color: #d40408;
}

.alert-error h4 {
	color: #ed0409;
}

.alert-info {
	color: #fff;
	background-color: #3a87ad;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1a3c4e;
}

.alert-info h4 {
	color: #204b61;
}

.modal {
	background-color: #444;
}

.modal-header {
	border-bottom: 1px solid #222;
}

.modal-body p {
	color: #c6c6c6;
}

.modal-footer {
	background-color: #373737;
	border-top: 1px solid #222;
	-moz-box-shadow: 0 1px 0 #333333 inset;
	-webkit-box-shadow: 0 1px 0 #333333 inset;
	-o-box-shadow: 0 1px 0 #333333 inset;
	box-shadow: 0 1px 0 #333333 inset;
}

blockquote {
	border-left-color: #111;
}

blockquote.pull-right {
	border-right-color: #111;
}

hr {
	-moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	-o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
	border-bottom: 1px solid #121212;
	border-top: none;
}

code {
	border: none;
}

pre {
	border: none;
	color: #c6c6c6;
	padding: 0 0 0 2em;
}

/** =====================================================
 *	Clearfix raggarhack
 */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/** =====================================================
 *	Icons
 */

@font-face { font-family: 'IconicFill'; src: url('iconic_fill.eot'); src: local('IconicFill'), url('iconic_fill.svg#iconic') format('svg'), url('iconic_fill.otf') format('opentype'); }.iconic { display:inline-block; font-family: 'IconicFill'; }.hash:before {content:'\23';}.question_mark:before {content:'\3f';}.at:before {content:'\40';}.pilcrow:before {content:'\b6';}.info:before {content:'\2139';}.arrow_left:before {content:'\2190';}.arrow_up:before {content:'\2191';}.arrow_right:before {content:'\2192';}.arrow_down:before {content:'\2193';}.home:before {content:'\2302';}.sun_fill:before {content:'\2600';}.cloud:before {content:'\2601';}.umbrella:before {content:'\2602';}.star:before {content:'\2605';}.moon_fill:before {content:'\263e';}.heart_fill:before {content:'\2764';}.cog:before {content:'\2699';}.bolt:before {content:'\26a1';}.key_fill:before {content:'\26bf';}.rain:before {content:'\26c6';}.denied:before {content:'\26d4';}.mail:before {content:'\2709';}.pen:before {content:'\270e';}.check:before {content:'\2713';}.check_alt:before {content:'\2714';}.x:before {content:'\2717';}.x_alt:before {content:'\2718';}.left_quote:before {content:'\275d';}.right_quote:before {content:'\275e';}.plus:before {content:'\2795';}.minus:before {content:'\2796';}.curved_arrow:before {content:'\2935';}.document_alt_fill:before {content:'\e000';}.calendar:before {content:'\e001';}.map_pin_alt:before {content:'\e002';}.comment_alt1_fill:before {content:'\e003';}.comment_alt2_fill:before {content:'\e004';}.pen_alt_fill:before {content:'\e005';}.pen_alt2:before {content:'\e006';}.chat_alt_fill:before {content:'\e007';}.plus_alt:before {content:'\e008';}.minus_alt:before {content:'\e009';}.bars_alt:before {content:'\e00a';}.book_alt:before {content:'\e00b';}.aperture_alt:before {content:'\e00c';}.beaker_alt:before {content:'\e010';}.left_quote_alt:before {content:'\e011';}.right_quote_alt:before {content:'\e012';}.arrow_left_alt1:before {content:'\e013';}.arrow_up_alt1:before {content:'\e014';}.arrow_right_alt1:before {content:'\e015';}.arrow_down_alt1:before {content:'\e016';}.arrow_left_alt2:before {content:'\e017';}.arrow_up_alt2:before {content:'\e018';}.arrow_right_alt2:before {content:'\e019';}.arrow_down_alt2:before {content:'\e01a';}.brush:before {content:'\e01b';}.brush_alt:before {content:'\e01c';}.eyedropper:before {content:'\e01e';}.layers:before {content:'\e01f';}.layers_alt:before {content:'\e020';}.compass:before {content:'\e021';}.award_fill:before {content:'\e022';}.beaker:before {content:'\e023';}.steering_wheel:before {content:'\e024';}.eye:before {content:'\e025';}.aperture:before {content:'\e026';}.image:before {content:'\e027';}.chart:before {content:'\e028';}.chart_alt:before {content:'\e029';}.target:before {content:'\e02a';}.tag_fill:before {content:'\e02b';}.rss:before {content:'\e02c';}.rss_alt:before {content:'\e02d';}.share:before {content:'\e02e';}.undo:before {content:'\e02f';}.reload:before {content:'\e030';}.reload_alt:before {content:'\e031';}.loop_alt1:before {content:'\e032';}.loop_alt2:before {content:'\e033';}.loop_alt3:before {content:'\e034';}.loop_alt4:before {content:'\e035';}.spin:before {content:'\e036';}.spin_alt:before {content:'\e037';}.move_horizontal:before {content:'\e038';}.move_horizontal_alt1:before {content:'\e039';}.move_horizontal_alt2:before {content:'\e03a';}.move_vertical:before {content:'\e03b';}.move_vertical_alt1:before {content:'\e03c';}.move_vertical_alt2:before {content:'\e03d';}.move:before {content:'\e03e';}.move_alt1:before {content:'\e03f';}.move_alt2:before {content:'\e040';}.transfer:before {content:'\e041';}.download:before {content:'\e042';}.upload:before {content:'\e043';}.cloud_download:before {content:'\e044';}.cloud_upload:before {content:'\e045';}.fork:before {content:'\e046';}.play:before {content:'\e047';}.play_alt:before {content:'\e048';}.pause:before {content:'\e049';}.stop:before {content:'\e04a';}.eject:before {content:'\e04b';}.first:before {content:'\e04c';}.last:before {content:'\e04d';}.fullscreen:before {content:'\e04e';}.fullscreen_alt:before {content:'\e04f';}.fullscreen_exit:before {content:'\e050';}.fullscreen_exit_alt:before {content:'\e051';}.equalizer:before {content:'\e052';}.article:before {content:'\e053';}.read_more:before {content:'\e054';}.list:before {content:'\e055';}.list_nested:before {content:'\e056';}.cursor:before {content:'\e057';}.dial:before {content:'\e058';}.new_window:before {content:'\e059';}.trash_fill:before {content:'\e05a';}.battery_half:before {content:'\e05b';}.battery_empty:before {content:'\e05c';}.battery_charging:before {content:'\e05d';}.chat:before {content:'\e05e';}.mic:before {content:'\e05f';}.movie:before {content:'\e060';}.headphones:before {content:'\e061';}.user:before {content:'\e062';}.lightbulb:before {content:'\e063';}.cd:before {content:'\e064';}.folder_fill:before {content:'\e065';}.document_fill:before {content:'\e066';}.pin:before {content:'\e067';}.map_pin_fill:before {content:'\e068';}.book:before {content:'\e069';}.book_alt2:before {content:'\e06a';}.box:before {content:'\e06b';}.calendar_alt_fill:before {content:'\e06c';}.comment_fill:before {content:'\e06d';}.iphone:before {content:'\e06e';}.bars:before {content:'\e06f';}.camera:before {content:'\e070';}.volume_mute:before {content:'\e071';}.volume:before {content:'\e072';}.battery_full:before {content:'\e073';}.magnifying_glass:before {content:'\e074';}.lock_fill:before {content:'\e075';}.unlock_fill:before {content:'\e076';}.link:before {content:'\e077';}.wrench:before {content:'\e078';}.clock:before {content:'\e079';}


/** =====================================================
 *	Blog entries
 */

.entry-title {
	color: #ffffcc;
	font-family: "etica","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 4.25em;
	line-height: 1.05882em;	
}

.entry-meta {
	margin: 1em 0;

}

.entry-meta p {
	margin: 1em 2em 2em 0;
	float: left;
}

.entry-meta p a {
	color: #ffffcc;
}

.entry-content {
	clear: both;
}